In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [170]:
transaction = pd.read_excel('KPMG_VI_New_raw_data_update_final.xlsx', sheet_name = 1, skiprows = 1, index_col = "transaction_id", parse_dates = ["transaction_date"])

In [22]:
new_c = pd.read_excel('KPMG_VI_New_raw_data_update_final.xlsx', sheet_name = 2, skiprows = 1, parse_dates = ["DOB"])

In [28]:
cdem = pd.read_excel('KPMG_VI_New_raw_data_update_final.xlsx', sheet_name = 3, skiprows = 1, parse_dates = ["DOB"], index_col = "customer_id")

In [26]:
cadress = pd.read_excel('KPMG_VI_New_raw_data_update_final.xlsx', sheet_name = 4, skiprows = 1, index_col = "customer_id")

## Transactions

In [171]:
transaction.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20000 entries, 1 to 20000
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   product_id               20000 non-null  int64
 1   customer_id              20000 non-null  int64
 2   transaction_date         20000 non-null  datetime64[ns]
 3   online_order             19640 non-null  float64
 4   order_status             20000 non-null  object
 5   brand                    19803 non-null  object
 6   product_line             19803 non-null  object
 7   product_class            19803 non-null  object
 8   product_size             19803 non-null  object
 9   list_price               20000 non-null  float64
 10  standard_cost            19803 non-null  float64
 11  product_first_sold_date  19803 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(2), object(5)
memory usage: 2.0+ MB

In [92]:
def missingv(a):
    for x in a.columns:
        print ( x + ' : ' + str(a[x].isna().sum()))

In [168]:
def unique(a):
    for x in a.columns:
        if "date" not in x :
            print( x + ":\n" + str(a[x].unique()) +  "\n" + str(a[x].dtype) + "\n")

In [166]:
transaction.head()

,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
transaction_id,,,,,,,,,,,,
1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0
2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701.0
3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145.0
5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226.0

In [94]:
missingv(transaction)

product_id : 0
customer_id : 0
transaction_date : 0
online_order : 360
order_status : 0
brand : 197
product_line : 197
product_class : 197
product_size : 197
list_price : 0
standard_cost : 197
product_first_sold_date : 197

In [169]:
unique(transaction)

product_id:
[  2   3  37  88  78  25  22  15  67  12   5  61  35  16  79  33  54  27
  82  89  64  19  72  91   1  99   0  92  14  44  76  46  55  66  81  86
  32  77  96   6  47  94  93  60  28   4  38  56  58  50  80  87  84  21
  31  62  17  73  45  49  95  18  70  26  39  36  98  75  42  20  24  53
  65  29  11  10   7  41   9  69  90  97 100  74  71  34  57  23  51  59
  63  40   8  13  30  48  68  83  43  52  85]
int64

customer_id:
[2950 3120  402 ...  130 2789 3446]
int64

online_order:
[ 0.  1. nan]
float64

order_status:
['Approved' 'Cancelled']
object

brand:
['Solex' 'Trek Bicycles' 'OHM Cycles' 'Norco Bicycles' 'Giant Bicycles'
 'WeareA2B' nan]
object

product_line:
['Standard' 'Road' 'Mountain' 'Touring' nan]
object

product_class:
['medium' 'low' 'high' nan]
object

product_size:
['medium' 'large' 'small' nan]
object

list_price:
[  71.49 2091.47 1793.43 1198.46 1765.3  1538.99   60.34 1292.84 1071.23
 1231.15  574.64   71.16 1057.51 1661.92 1555.58 1311.44  499.53 1362.99
 1469.44  360.4   642.31 1403.5  1720.7   544.05 1415.01 1842.92 1769.64
 2083.94 1289.85 1894.19 1163.89 1151.96  235.63  642.7  1240.31 1635.3
  227.88  363.01  100.35 1458.17 1977.36   12.01 1216.14 1129.13  183.86
  912.52  175.89 1073.07 1179.    958.74  792.9   290.62  752.64  478.16
 1024.66 1945.43  441.49  533.51  569.56 1148.64  495.72 1992.93 1812.75
  945.04  358.39 1873.97 1810.   1775.81 1777.8   795.34  575.27 1172.78
 1065.03 1807.45 1942.61 1274.93 1890.39  980.37  416.98 1386.84  742.54
  230.91  688.63  748.17 1466.68 1656.86  202.62 1036.59 1228.07  774.53
  586.45 1762.96 2005.66 1483.2   590.26 1703.52 1577.53 1636.9  1280.28
 1061.56  850.89  710.59  543.39 1227.34 1972.01  311.54  205.84  605.54
  756.31  850.    571.27  294.35  149.3   447.25 1348.41 1021.43 1163.77
 1294.66  638.29 1202.34  326.86  814.86 1102.68 1880.4  1541.62  639.38
  402.14  710.55 1142.89  813.6  1833.17 1285.47 1678.71  437.51  366.22
 1199.26 1888.45  237.44  317.3  1527.25 1563.94 1146.42 1192.33 1672.07
 1099.68 1281.6  1220.66 1061.92 1502.93  398.08  101.55 1957.87 1095.66
 1776.08  752.36  172.09 1740.16 1734.3   240.72 1958.34  330.36 1709.26
   60.72 1193.44 2037.77 1349.47   56.21  126.36 1300.96 1697.27   26.15
  875.99 1862.82 2028.26  678.25  890.28 1084.18 1107.08 1790.31  724.37
 1095.65 1223.24  541.44  470.07 2052.92 1817.13 1473.09 1480.76 2012.84
 1711.35  753.76  840.02 1922.94 1759.3   330.91 1029.36 1487.8  1624.69
 1719.95  899.52  554.38  960.51 1978.64   36.78   74.89 1091.51  695.23
 1148.41  750.25 1997.68 1392.76 1294.37  311.57  899.92  162.87 1678.51
 1703.18  675.28  487.8  1292.13 1578.52  922.15  122.74  435.66 1409.68
 1315.16 1233.12  758.73  405.94 1026.7   687.9   494.96 1181.89  465.71
  880.3  1989.3  1413.98  483.12  753.01  883.91 1216.4    32.44   16.08
 1184.    587.02 1919.23 1660.68 1224.41 1535.84  150.51 2062.95 1689.63
 1934.41  889.05 1617.32 1788.93 2064.08 2020.14  489.58 2076.81 2061.38
  877.44 1374.2   731.41 1034.17  156.56  643.95  517.53  226.94 1196.65
  634.57 1571.83 1999.54 1562.88 1150.59  356.05 1780.22 1438.9   966.91
  918.43 1541.1  1476.88 1023.39  310.57  356.39 1695.42  877.6  1401.63
 2086.07 1761.75 1615.62  744.54 1098.18  868.56 1497.43  867.92]
float64

standard_cost:
[  53.62       388.92       248.82       381.1        709.48
  829.65        45.26        13.44       380.74       161.6
  459.71        56.93       154.4       1479.11       818.01
 1167.18       388.72        57.74       596.55       270.3
  513.85       954.82      1531.42       376.84      1259.36
 1105.75       108.76       675.03        74.51       598.76
  589.27       649.49       125.07       211.37       795.1
  993.66       136.73       290.41        75.26       874.9
 1759.85         7.21      1082.36       677.48       137.9
  141.4        131.92       933.84       707.4        748.9
  594.68       215.14       205.36       298.72       614.8
  333.18        84.99       400.13       528.43       689.18
  297.43       762.63       582.48       507.58       215.03
  863.95      1610.9       1580.47       820.78       101.58
  431.45      1043.77       230.09       778.69               nan
  764.96       260.14       234.43       312.74      1234.29
  667.4        173.18       612.88       448.9        363.25
  151.96       206.35       400.91       464.72       521.94
  950.52      1203.4         99.59       525.33      1516.13
  826.51        44.71       829.51       733.58       407.54
  770.89       312.7350159  270.2999878  667.4000244]
float64

In [181]:
((2023 - (transaction.transaction_date.dt.year)) > 10).sum()

0

## NEW CUSTOMERS

In [154]:
new_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 23 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   first_name                           1000 non-null   object
 1   last_name                            971 non-null    object
 2   gender                               1000 non-null   object
 3   past_3_years_bike_related_purchases  1000 non-null   int64
 4   DOB                                  983 non-null    datetime64[ns]
 5   job_title                            894 non-null    object
 6   job_industry_category                835 non-null    object
 7   wealth_segment                       1000 non-null   object
 8   deceased_indicator                   1000 non-null   object
 9   owns_car                             1000 non-null   object
 10  tenure                               1000 non-null   int64
 11  address                              1000 non-null   object
 12  postcode                             1000 non-null   int64
 13  state                                1000 non-null   object
 14  country                              1000 non-null   object
 15  property_valuation                   1000 non-null   int64
 16  Unnamed: 16                          1000 non-null   float64
 17  Unnamed: 17                          1000 non-null   float64
 18  Unnamed: 18                          1000 non-null   float64
 19  Unnamed: 19                          1000 non-null   float64
 20  Unnamed: 20                          1000 non-null   int64
 21  Rank                                 1000 non-null   int64
 22  Value                                1000 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(6), object(11)
memory usage: 179.8+ KB

In [131]:
new_c.head()

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,...,state,country,property_valuation,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Rank,Value
0,Chickie,Brister,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,...,QLD,Australia,6,0.56,0.7000,0.8750,0.743750,1,1,1.718750
1,Morly,Genery,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,...,NSW,Australia,11,0.89,0.8900,1.1125,0.945625,1,1,1.718750
2,Ardelis,Forrester,Female,10,1974-08-28,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,...,VIC,Australia,5,1.01,1.0100,1.0100,1.010000,1,1,1.718750
3,Lucine,Stutt,Female,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,N,Yes,...,QLD,Australia,1,0.87,1.0875,1.0875,1.087500,4,4,1.703125
4,Melinda,Hadlee,Female,34,1965-09-21,Financial Analyst,Financial Services,Affluent Customer,N,No,...,NSW,Australia,9,0.52,0.5200,0.6500,0.650000,4,4,1.703125

In [132]:
new_c.columns

Index(['first_name', 'last_name', 'gender',
       'past_3_years_bike_related_purchases', 'DOB', 'job_title',
       'job_industry_category', 'wealth_segment', 'deceased_indicator',
       'owns_car', 'tenure', 'address', 'postcode', 'state', 'country',
       'property_valuation', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Rank', 'Value'],
      dtype='object')

In [124]:
missingv(new_c)

first_name : 0
last_name : 29
gender : 0
past_3_years_bike_related_purchases : 0
DOB : 17
job_title : 106
job_industry_category : 165
wealth_segment : 0
deceased_indicator : 0
owns_car : 0
tenure : 0
address : 0
postcode : 0
state : 0
country : 0
property_valuation : 0
Unnamed: 16 : 0
Unnamed: 17 : 0
Unnamed: 18 : 0
Unnamed: 19 : 0
Unnamed: 20 : 0
Rank : 0
Value : 0

In [129]:
unique(new_c)

first_name:
['Chickie' 'Morly' 'Ardelis' 'Lucine' 'Melinda' 'Druci' 'Rutledge'
 'Nancie' 'Duff' 'Barthel' 'Rockwell' 'Wheeler' 'Olag' 'Melba' 'Mandie'
 'Dukie' 'Marcelia' 'Winnifred' 'Odilia' 'Karly' 'Teddie' 'Gaston' 'Otis'
 'Tabbatha' 'Brena' 'Rourke' 'Dyane' 'Claudine' 'Blinnie' 'Rhona'
 'Sharron' 'Brien' 'Sybilla' 'Mikel' 'Maisie' 'Arleen' 'Farlie' 'Mitchell'
 'Garik' 'Antonin' 'Vinny' 'Colene' 'Neile' 'Corinna' 'Brooke' 'Gipsy'
 'Sheena' 'Jobina' 'Gale' 'Thaxter' 'Heinrick' 'Taylor' 'Griswold'
 'Odessa' 'Lavena' 'Martelle' 'Briant' 'Marylou' 'Whittaker' 'Normy'
 'Lorrie' 'Jedediah' 'Kaine' 'Loise' 'Cristen' 'Dorothy' 'Rosmunda'
 'Rozamond' 'Gunner' 'Vivienne' 'Sherilyn' 'Bessie' 'Kevina' 'Yancy'
 'Mabelle' 'Hasheem' 'Tobias' 'Glennis' 'Chanda' 'Katheryn' 'Sumner'
 'Valerie' 'Esther' 'Gardie' 'Sean' 'Pietra' 'Marysa' 'Kahaleel' 'Ossie'
 'Sid' 'Ludovico' 'Patricia' 'Andromache' 'Levy' 'Nobe' 'Jehu' 'Symon'
 'Karlik' 'Bengt' 'Evangelin' 'Hanny' 'Gina' 'Reynold' 'Flossy' 'Griffith'
 'Jamie' 'Lyon' 'Aridatha' 'Michal' 'Franciska' 'Jordan' 'David' 'Meriel'
 'Dolley' 'Frederik' 'Rollo' 'Jerrine' 'Roddy' 'Viki' 'Ashby' 'Alexander'
 'Teddy' 'Peria' 'Ludvig' 'Elsworth' 'Rebeca' 'Ricki' 'Georgetta' 'Bambi'
 'Aurie' 'Farris' 'Sharline' 'Nowell' 'Lacy' 'Padraig' 'Malorie'
 'Shepperd' 'Daryl' 'Norina' 'My' 'Isak' 'Grannie' 'Welby' 'Glenn'
 'Nadiya' 'Tyne' 'Christie' 'Agnella' 'Bernardine' 'Daisy' 'Denys'
 'Archibald' 'Feodor' 'Skippie' 'Bill' 'Tessa' 'Roseanne' 'Tedra'
 'Roberto' 'Nichole' 'Amil' 'Shawna' 'Fonsie' 'Emilie' 'Robert' 'Elvira'
 'Juliana' 'Regine' 'Abner' 'Alvira' 'Sawyer' 'Paten' 'Loria' 'Tanya'
 'Devonne' 'Omero' 'Iain' 'Keriann' 'Conroy' 'Dorian' 'Quillan' 'Harlin'
 'Eustacia' 'Maury' 'Reggie' 'Brigitte' 'Kinna' 'Maurizio' 'Elbertina'
 'Franklin' 'Allyson' 'Ermentrude' 'Alanna' 'Vincent' 'Collete' 'Leonid'
 'Charlena' 'Alfonso' 'Engracia' 'Glyn' 'Rosemonde' 'Alano' 'Corrine'
 'Benoit' 'Jeanne' 'Jenelle' 'Tannie' 'Mick' 'Abbie' 'Tabbie' 'Shane'
 'Roberta' 'Kippy' 'Rosalinde' 'Cami' 'Hunfredo' 'Giorgi' 'Kort' 'Gretna'
 'Tobiah' 'Wallace' 'Hersh' 'Hatti' 'Wyn' 'Maribeth' 'Abigale' 'Gothart'
 'Danny' 'Vittorio' 'Deborah' 'Agace' 'Rolland' 'Latrena' 'Mariquilla'
 'Leticia' 'Harman' 'Farra' 'Robenia' 'Roman' 'Solomon' 'Krystyna'
 'Katharine' 'Cammy' 'Ellsworth' 'Federico' 'Ferdy' 'Sunny' 'Shadow'
 'Sharai' 'Celeste' 'Lea' 'Dyann' 'Delly' 'Malvin' 'Kaela' 'Evonne'
 'Shannen' 'Bogey' 'Zondra' 'Barnebas' 'Alleen' 'Gerri' 'Antonietta'
 'Raff' 'Lark' 'Cletis' 'Bartram' 'Theresa' 'Philbert' 'Egon' 'Dahlia'
 'Timi' 'Dominick' 'Raye' 'Becka' 'Cirillo' 'Verla' 'Sherrie' 'Dexter'
 'Konstanze' 'Bink' 'Taber' 'Debbi' 'Giana' 'Morton' 'Vittoria' 'Paquito'
 'Dimitri' 'Shelli' 'Kermit' 'Biddie' 'Rupert' 'Geoff' 'Ange' 'Tiphanie'
 'Zollie' 'Emelen' 'Linette' 'Manya' 'Brynna' 'Art' 'Alfi' 'Loleta'
 'Aldric' 'Natividad' 'Seamus' 'Guss' 'Julietta' 'Roch' 'Audry' 'Cecelia'
 'Clari' 'Zach' 'Paxon' 'Parnell' 'Honey' 'Sonny' 'Deirdre' 'Haleigh'
 'Aldridge' 'Zechariah' 'Carry' 'Alon' 'Ahmed' 'Nil' 'Erhard' 'Vitia'
 'Haskell' 'Ebony' 'Lincoln' 'Vladimir' 'Kylynn' 'Nicole' 'Celestina'
 'Bessy' 'Diego' 'Lucilia' 'Cissiee' 'Eddy' 'Caron' 'Sandor' 'Gallagher'
 'Murial' 'Delinda' 'Hussein' 'Giulietta' 'Kaylyn' 'Brynn' 'Tamas' 'Pace'
 'Tracy' 'Muffin' 'Allsun' 'Kenneth' 'Clotilda' 'Augustus' 'Daisi' 'Gerik'
 'Claresta' 'Arty' 'Giulia' 'Whit' 'Rowan' 'Ian' 'Agneta' 'Reginald'
 'Link' 'Harriet' 'Sada' 'Gabrila' 'Almira' 'Alexa' 'Palmer' 'Porter'
 'Kizzee' 'Isadora' 'Giffie' 'Fara' 'Carolann' 'Tamar' 'Kipp' 'Packston'
 'Hanson' 'Demetria' 'Lura' 'Nora' 'Estevan' 'Aloysius' 'Bastien' 'Otha'
 'Gannie' 'Dwayne' 'Leese' 'Dodi' 'Kippar' 'Laurie' 'Mair' 'Tanner'
 'Hilliard' 'Justinn' 'Dennis' 'Freddi' 'Salomon' 'Sherill' 'Queenie'
 'Etan' 'Donaugh' 'Harwell' 'Cheston' 'Suzy' 'Jobie' 'Guenna' 'Opal'
 'Ottilie' 'Kipper' 'Marilin' 'Arel' 'Kit' 'Gregg' 'Skipp' 'Frederich'
 'Rodolph' 'Craggie' 'Johna' 'Giralda' 'Rodney' 'Theresina' 'Gleda'
 'Melany' 'Claudell' 'Garwin' 'Bunny' 'Matias' 'Anet' 'Katie' 'Celia'
 'Stearne' 'Tristam' 'Laurena' 'Heloise' 'Dory' 'Marcellina' 'Gregorius'
 'Deana' 'Kori' 'Lucky' 'Erasmus' 'Carita' 'Lynnett' 'Thorn' 'Lela'
 'Norah' 'Moina' 'Ceciley' 'Torry' 'Sigismund' 'Irvine' 'Tomkin' 'Genni'
 'Blondie' 'Carola' 'Fitzgerald' 'Ingmar' 'Tina' 'Huberto' 'Georgi'
 'Adolpho' 'Kelsey' 'Lucien' 'Ariel' 'Bevvy' 'Alexina' 'Dawn' 'Claudette'
 'Elianora' 'Park' 'Anthony' 'Liane' 'Romonda' 'Sula' 'Renell' 'Cliff'
 'Clevey' 'Cariotta' 'George' 'Kissiah' 'Milty' 'Killian' 'Fredia'
 'Katleen' 'Gaultiero' 'Inglebert' 'Jammal' 'Adriane' 'Jodi' 'Emelia'
 'Andee' 'Isa' 'Zabrina' 'Maddalena' 'Sofie' 'Elmira' 'Free' 'Worthington'
 'Bailey' 'Perry' 'Antony' 'Corene' 'Nico' 'Joline' 'Ivy' 'Dallas'
 'Amabel' 'Hilario' 'Jim' 'Jacobo' 'Gretel' 'Jethro' 'Dwain' 'Lucretia'
 'Claude' 'Donn' 'Laurel' 'Angie' 'Terrence' 'Katy' 'Sammy' 'Morganica'
 'Nils' 'Beverlee' 'Reiko' 'Cord' 'Gabey' 'Jacqui' 'Byrom' 'Chico'
 'Davidde' 'Charlie' 'Kamila' 'Barth' 'Padriac' 'Olive' 'Benedict'
 'Virginia' 'Nicolas' 'Oswald' 'Ailyn' 'Karol' 'Esdras' 'Wilfrid'
 'Charmain' 'Harlene' 'Kirsteni' 'Bobby' 'Shepherd' 'Berenice' 'Jesse'
 'Cordi' 'Debbie' 'Judie' 'Flin' 'Noel' 'Letizia' 'Raynard' 'Kiley'
 'Ethelred' 'Dena' 'Wyndham' 'Rochette' 'Jamal' 'Levin' 'Marinna' 'Kyle'
 'Lanie' 'Gilbert' 'Gerianne' 'Chaim' 'Anson' 'Caitrin' 'Garreth'
 'Annabell' 'Maximilian' 'Ajay' 'Jamison' 'Nicol' 'Agna' 'Nev' 'Lucius'
 'Francisca' 'Mariette' 'Nanni' 'Delcina' 'Lek' 'Kellyann' 'Ewell'
 'Madison' 'Ardis' 'Marissa' 'Terrel' 'Augie' 'Dillon' 'Osbourn' 'Lissa'
 'Leisha' 'Kearney' 'Shellysheldon' 'Reinhard' 'Menard' 'Andree' 'Kata'
 'Pierrette' 'Nady' 'Demott' 'Wendye' 'Irvin' 'Madella' 'Austine' 'Wolf'
 'Aldin' 'Sindee' 'Truman' 'Gordon' 'Israel' 'Caritta' 'Annabelle'
 'Darryl' 'Orly' 'Margette' 'Stephen' 'Giselbert' 'Lisette' 'Chicky'
 'Xenia' 'Essie' 'Cecil' 'Lillis' 'Ted' 'Nixie' 'Briana' 'Cobbie'
 'Wrennie' 'Sibylla' 'Kariotta' 'Wylie' 'Lizbeth' 'Averil' 'Myrtie' 'Ross'
 'Sibby' 'Selle' 'Andrew' 'Maurizia' 'Keenan' 'Davide' 'Renie' 'Willard'
 'Debby' 'Rockie' 'Harvey' 'Patrice' 'Arman' 'Gardiner' 'Cathleen'
 'Thaddus' 'Josepha' 'Jillane' 'Lynnell' 'Ferdinand' 'Emeline' 'Roldan'
 'Alta' 'Marc' 'Bertine' 'Wilbert' 'Seymour' 'Miran' 'Dorotea' 'Jenny'
 'Hyman' 'Beatrix' 'Nalani' 'Brendis' 'Jaimie' 'Glendon' 'Calida' 'Hallsy'
 'Lanny' 'Son' 'Halette' 'Killie' 'Mandi' 'Kylila' 'Yardley' 'Hamel'
 'Fancie' 'Zebulen' 'Micheil' 'Cecily' 'Glory' 'Sinclair' 'Tomaso' 'Gilli'
 'Errick' 'Damian' 'Agnola' 'Riki' 'Mikol' 'Phyllis' 'Burt' 'Adriana'
 'Trudie' 'Frederigo' 'Glenda' 'Darb' 'Cal' 'Stephani' 'Meade' 'Flore'
 'Leighton' 'Petr' 'Yorgos' 'Simmonds' 'Hagen' 'Cazzie' 'Simonette'
 'Andrea' 'Juliann' 'Janaye' 'Dylan' 'Mel' 'Elvin' 'Dmitri' 'Sonni'
 'Kellina' 'Yuma' 'Ashleigh' 'Therese' 'Pansie' 'Reinaldos' 'Calhoun'
 'Winn' 'Rafi' 'Fey' 'Verne' 'Eleonora' 'Fayre' 'Eachelle' 'Carl' 'Cordie'
 'Jackie' 'Carroll' 'Frans' 'Amara' 'Cherye' 'Ansell' 'Erminie' 'Rosene'
 'Darlleen' 'Bryon' 'Sherwin' 'Luci' 'Sloan' 'Otes' 'Davie' 'Dorolice'
 'Rikki' 'Adria' 'Rand' 'Rowen' 'Boothe' 'Noak' 'Callean' 'Keelby'
 'Rodrique' 'Brod' 'Manny' 'Becky' 'Herbert' 'Cristie' 'Renate' 'Toma'
 'Dorie' 'Ellie' 'Leonora' 'Teodor' 'Jared' 'Porty' 'Andy' 'Monty'
 'Briano' 'Ginger' 'Logan' 'Nichols' 'Catha' 'Melosa' 'Maris' 'Wilburt'
 'Rosabelle' 'Guilbert' 'Meridith' 'Leeland' 'Gerta' 'Karrah' 'Alick'
 'Casandra' 'Maurine' 'Darwin' 'Hayes' 'Piper' 'Markus' 'Sile' 'Craggy'
 'Egor' 'Reinald' 'Kissie' 'Quentin' 'Karoly' 'Clarine' 'Mycah' 'Clemmie'
 'Randall' 'Donica' 'Lotty' 'Marie-jeanne' 'Babara' 'Rodolphe' 'Thorvald'
 'Paulina' 'Lizette' 'Jeno' 'Brigg' 'Judi' 'Shara' 'Raleigh' 'Zachariah'
 'Lesley' 'Adriena' 'Antoinette' 'Carr' 'Shay' 'Karney' 'Kelcie' 'Fabio'
 'Heall' 'Rickert' 'Hedwig' 'Penrod' 'Pancho' 'Andriana' 'Nilson' 'Denny'
 'Roth' 'Olia' 'Conway' 'Dru' 'Shaw' 'Brook' 'Aleece' 'Dolorita'
 'Hildegarde' 'Launce' 'Ilise' 'Julita' 'Ashlen' 'Keely' 'Poul'
 'Sheilakathryn' 'Rubia' 'Francklin' 'Wilone' 'Lezlie' 'Kathe' 'Dulce'
 'Felice' 'Joane' 'Diane' 'Ogdan' 'Stephi' 'Martino' 'Morgen' 'Eugenie'
 'Reinold' 'Jo' 'Jacklin' 'Colas' 'Claudetta' 'Angele' 'Cicily' 'Harland'
 'Sim' 'Shanon' 'Chryste' 'Edin' 'Nolly' 'Michele' 'Candy' 'Noami'
 'Lyndell' 'Maximilien' 'Benedikta' 'Rhodie' 'Afton' 'Blondell' 'Sonia'
 'Benedikt' 'Don' 'Moll' 'Jammie' 'Inglis' 'Clarabelle' 'Tillie' 'Irving'
 'Evered' 'Mavra' 'Frieda' 'Ellwood' 'Alex' 'Aundrea' 'Amby' 'Esme'
 'Beverly' 'Artemis' 'Daryle' 'Leona' 'Bertrando' 'Augusta' 'Pauline'
 'Lauralee' 'Consalve' 'Lolly' 'Vyky' 'Kellen' 'Jermaine' 'Bryan' 'Weidar'
 'Datha' 'Burk' 'Melloney' 'Dickie' 'Sylas']
object

last_name:
['Brister' 'Genery' 'Forrester' 'Stutt' 'Hadlee' 'Brandli' 'Hallt' 'Vian'
 'Karlowicz' 'Docket' 'Matson' 'Winward' nan 'Spellacy' 'Feares' 'Swire'
 'Monkleigh' 'Beswetherick' 'Quick' 'Willavize' 'Burchill' 'Dallaghan'
 'Ottey' 'Averill' 'Schnitter' 'Gillbard' 'Burwell' 'Barstowk' 'Roze'
 'De Freyne' 'Claibourn' 'Heaton' 'MacCart' 'McNess' 'Maddox' 'Casbolt'
 'Petford' 'MacCague' 'Whitwell' 'Britt' 'Incogna' 'Fishleigh' 'Argent'
 'Suggey' 'Arling' 'Ewestace' 'Kybbye' 'Gobourn' 'Disbrow' 'Kingsbury'
 'Shilstone' 'Steuhlmeyer' 'Kelsall' 'Mc Andrew' 'Seekings' 'Tuppeny'
 'Ladley' 'Kirkup' 'Goodinge' 'Antonelli' 'Kedie' 'Smallcombe' 'Iltchev'
 'Maroney' 'Barnardo' 'Duxbarry' 'Riha' 'Petti' 'Crayden' 'Canero'
 'Roscow' 'Ferandez' 'Clementet' 'Wellbelove' 'Groucock' 'Woodhams'
 'Flintoff' 'Mensler' 'Kinner' 'Carrivick' 'Pickover' 'Rooson' 'Crellim'
 "O'Loughlin" 'Buckleigh' 'Rouchy' 'Midden' 'Carlone' 'Juster' 'Everix'
 'Bonafacino' 'Abramamov' 'McAughtry' 'Prestedge' 'Mawne' 'Penchen'
 'Bilson' 'Boc' 'Treven' 'Mallon' 'Elman' 'Concannon' 'Wiltshire' 'Escot'
 'Jiruca' 'Brittan' 'Sephton' 'Bryan' 'Stigell' 'Clampe' 'Napoleon' 'Tapp'
 'Starmont' 'Milan' 'Louedey' 'Cosbey' 'Rubinshtein' 'Coutts' 'Bispham'
 'Broadbent' 'Lagadu' 'Rantoull' 'Andren' 'Abbitt' 'Aggas' 'Dobrowski'
 'Lovett' 'Cogger' 'Rhead' 'Skettles' 'Abyss' 'Preddy' 'Drance' 'Snel'
 'Votier' 'Ricards' 'Pauncefort' 'Blakeway' 'Chaston' 'Bergstram'
 'Cracker' 'Lourenco' 'Casbourne' 'Balasini' 'Coate' 'Anders' 'Capener'
 'Delmonti' 'Spowart' 'Minshall' 'Blessed' 'Englishby' 'Yearsley' 'Friese'
 'Caruth' 'Goodbanne' 'Harme' 'Leisman' 'Ennor' 'Hinrichsen' 'Levane'
 'Brody' 'Corkill' 'Kurten' 'Mitchenson' 'Bownes' 'Fraschetti' 'Coulman'
 'Sponton' 'Vickers' 'Cayet' 'Tappington' 'Kiefer' 'Alderwick' 'McDonand'
 'Haversham' 'Newham' 'Rappaport' 'Rustman' 'Guinane' 'Mazin' 'Dornan'
 'Galego' 'Kernar' 'Whellams' 'Kollasch' 'Comi' 'Fendley' 'Wohler'
 'Petchell' 'Heindle' 'Lerway' 'Jopke' 'Jeffryes' 'Dory' 'Dorricott'
 'Berney' 'Massel' 'Dobbs' 'Cartwight' 'Satchel' 'Baribal' 'Harniman'
 'Darte' 'Fearnill' 'Gambrell' 'Macewan' 'Oldman' 'Curner' 'Killen'
 'Goodale' 'Barabisch' 'Cubuzzi' 'Barnbrook' 'Stollen' 'Hayball'
 "O'Shirine" 'Disley' 'Thredder' 'Heinsius' 'Newart' 'Stubbert' 'Carletti'
 'Saynor' 'Stivani' 'Sives' 'Artus' 'Bodle' 'Boxen' 'Petrovsky' 'Hedge'
 'Esmead' 'Walklate' 'Springthorpe' 'Danovich' 'Lynds' 'Matyushkin'
 'Monks' 'Eastwood' 'Bruck' 'Airey' 'Redbourn' 'Stoneham' 'Andrieux'
 'Leuty' 'Hornung' 'Christescu' 'Yakutin' 'Priddie' 'Fretson' 'Ilyinski'
 'Olechnowicz' 'Sunman' 'Ryhorovich' 'Hamberston' 'Romaines' 'Bembridge'
 'Lewin' 'Attew' 'Ringham' 'Apfel' 'Eaken' 'Schimann' 'Egle' 'Waycott'
 'Gonet' 'Longley' 'Di Lucia' 'Cowper' 'Raraty' 'Ortells' 'Shovlar' 'Duny'
 'Asher' 'Roo' 'Hacon' 'Frossell' 'Dumingos' 'Godleman' 'Shutle' 'Hovie'
 'Bentje' 'Szymon' 'Dannatt' 'Staresmeare' 'Petkens' 'Whitney' 'Atwood'
 'Tribbeck' 'Bartholomaus' 'Lebond' 'Gorce' 'Marrow' 'Sitford' 'Chitham'
 'Blackader' 'Crinidge' 'Pollen' 'Bidnall' 'Boman' 'Abramovici' 'Tivers'
 'Carolan' 'Sabbins' 'Aberdalgy' 'Birney' 'Balducci' 'Dymick' 'Cains'
 'Karim' 'Setchfield' 'Symson' 'Fann' 'Cisar' 'Voas' 'Hedman' 'Roomes'
 'Lamprey' 'Gosdin' 'McCart' 'Turtle' 'Burgoine' 'Poskitt' 'McReidy'
 'Costi' 'Pickthorne' 'Shirer' "O'Moylane" 'Axtens' 'Moxted' 'Conrad'
 'Boler' 'Westmerland' 'Drowsfield' 'Ruckhard' 'Lethardy' 'Petrakov'
 'Saladin' 'Van den Broek' 'Pollington' 'Sturch' 'Kezar' 'Stirland'
 'Bromell' 'Bulloch' 'Ech' 'Tapenden' 'Garbott' 'Jakaway' 'Goodyear'
 'Swatman' 'Clemonts' 'Andrejevic' 'Grigolon' 'Biner' 'Elleyne' 'Southers'
 'Bourley' 'Tinwell' 'Woodroof' 'MacConnulty' 'Fontelles' 'Hazart'
 'Emloch' 'Summerly' 'Rabat' 'McAmish' 'Jermy' 'Gorini' 'Brattan'
 'Branton' 'Mc-Kerley' 'Toopin' 'Mangion' 'Strudwick' 'Dillet' 'Heaven'
 'Buckenhill' 'Kemston' 'Ducker' 'Offill' 'Sarath' 'Raatz' 'Windmill'
 'Stockport' 'Wackett' 'Eastes' 'Bausor' 'Fawdrie' 'Anselm' 'Eastment'
 'Glowacz' 'Ibbeson' 'Langworthy' 'Bargh' 'Doel' 'Huckleby' 'Kiggel'
 'Brimilcome' 'Beretta' 'Odlin' 'Erett' 'Copins' 'Terlinden' 'Dullard'
 'Haruard' 'Meach' 'Shardlow' 'Varnham' 'Litherborough' 'Perkins' 'Learie'
 'Prinett' 'Benedict' 'Kleinstein' 'Hritzko' 'Trounson' 'Runacres'
 'Filisov' 'Cleare' 'Wanless' 'Circuit' 'Frome' 'Abramovitz' 'Easdon'
 'Aimeric' 'Swales' 'Glantz' 'Denniss' 'Dering' 'Bunker' 'MacPeake'
 'Trethewey' 'Howerd' 'Ladewig' 'Rounsefell' 'Nurden' 'Leebetter' 'Melloi'
 'Dowyer' 'Roseman' 'Warhurst' 'Bryden' 'Trolley' 'Larose' 'Fairpool'
 'Malpass' 'Baynton' 'Leal' 'Canton' 'Sparsholt' 'Klainman' 'Olenchenko'
 'Sand' 'Tipper' 'Stigers' 'Billing' 'Mapis' 'Rosenbaum' 'Harg'
 'de la Valette Parisot' 'Sedger' 'Headon' 'Bernlin' 'Fanstone'
 'Killingsworth' 'Philler' 'Hellikes' 'Okenden' 'Dunstan' 'Mollatt'
 'Bellerby' 'Hatt' 'McCloid' 'Openshaw' 'Mabley' 'Pyffe' 'Renackowna'
 'Poolton' 'Lindstrom' 'Poizer' 'Thomann' 'Earley' 'Philipsson'
 'Aisthorpe' 'Jose' 'Foat' 'Brauninger' 'Nettles' 'Favelle' 'Arnoult'
 'Fibbens' 'Aspinal' 'Devenny' 'Richardson' 'Lermit' 'Ackwood' 'Huke'
 'Fominov' 'Margram' 'Angood' 'Worsfold' 'Vasilyev' 'Rowland' 'Cohane'
 'Bereford' 'Whitehurst' 'Tuma' 'Hallgate' 'Chadwick' 'Skipperbottom'
 'Farr' 'Lavalde' 'McCulloch' 'Haddrell' 'Mucklow' 'Paschke' 'Mertel'
 'Hatch' "D'Agostini" 'Bowstead' 'MacGregor' 'Devennie' 'Darthe' 'Tansley'
 'Dalligan' 'Crooke' 'Borsi' 'Ainsbury' 'Champion' 'Querree' 'Eitter'
 'Degenhardt' 'Dunsmore' 'Kennicott' 'Devey' 'Ramas' 'Ahmed' 'Dye'
 'Cockroft' 'Dmych' 'Chaney' 'Parsonage' 'Sapshed' 'Collacombe' 'Mozzi'
 'Rosas' 'De Antoni' "O'Donnell" 'MacCarlich' 'Howgate' 'Salthouse'
 'Birchett' 'Gertray' 'Styles' 'Nono' 'Gritskov' 'Summersby' 'Dutchburn'
 'Kaesmakers' 'Crosio' 'Thornton' 'Tillman' 'Pirkis' 'Yoskowitz' 'Poore'
 'Grunder' 'Sissel' 'Pabst' 'Woolford' 'Haddacks' 'Dudgeon' 'Coxen'
 'Kauschke' 'Michie' 'Cobbold' "O'Fallone" 'Kaysor' 'McOnie' 'Kingdon'
 'Dearnaly' 'Critten' 'Minett' 'Sommer' 'Downer' 'Geffen' 'Worham'
 'Cashin' 'Emery' 'Swinford' 'Cowpe' 'Prosh' 'Hatchell' 'Pottage' 'Brookz'
 'Ungerechts' 'Girodias' 'Hursey' 'Pimblett' 'Adshad' 'Paulusch' 'Lars'
 'Taree' 'Godsil' "O'Scandall" 'Keynd' 'Swallwell' 'Bannister'
 'Gherardini' 'Gawn' 'McConway' 'Cuddehy' 'Bichard' 'Oscroft' 'Venmore'
 'Breeds' 'Harrop' 'Gummie' 'Withinshaw' 'Mullaly' 'Kleinplatz' 'Bevans'
 'Marquiss' 'Speedy' 'Craft' 'Newsome' 'Jasik' 'Arlett' 'Rewan' 'Brough'
 'Hovenden' 'Compston' 'Hanwell' 'Hovee' 'Nesbitt' 'Gibard' 'Bertot'
 'Trowsdale' 'Tittershill' 'Pickring' 'Diss' 'Davers' 'Sinclar' 'Whyatt'
 'Maleck' 'Withur' 'Gant' 'Eshmade' 'Izacenko' 'Shoesmith' 'Trill'
 'Bruyett' 'Dwelly' 'Kibble' 'Naper' 'Huntingdon' 'Garvan' 'Ackery'
 'Ostrich' 'Vidgen' 'Skinner' 'Casper' 'Froment' 'Ritmeyer' 'Moriarty'
 'Senten' 'Fiveash' 'Booton' 'Balmadier' 'MacKibbon' 'Dwelley' 'Pariss'
 'Yakubov' 'Gypps' 'Le Teve' 'Joder' 'Clamp' 'Simion' 'MacAdie' 'Billie'
 'Bussens' 'Vezey' 'Baylis' 'Raybould' 'Weare' 'Pithcock' 'Keunemann'
 'Smalles' "O'Loughnan" 'Fellibrand' 'Runchman' 'Fenwick' 'Massy'
 'Petrolli' 'McGivena' 'Hallad' 'Butland' 'Pineaux' 'Lancastle' 'Malham'
 'Bentke' 'Schaben' 'Voysey' 'Currall' 'Varney' 'Caltun' 'Densie'
 'Adamsson' 'Basezzi' 'Matten' 'Leonards' 'Curzey' 'Woofendell' 'Emtage'
 'Fleote' 'Faircley' 'Chilcott' 'Wark' 'Horsley' 'Christophers' 'Burgin'
 'Renard' 'Batterson' 'Wandtke' 'Eck' 'Wibberley' 'Vasechkin'
 'Saundercock' 'Phinnessy' 'Cribbott' 'Eliet' 'Van den Velde' 'Sidsaff'
 'Bampton' 'Cashen' 'Firbanks' 'Westman' 'Dewhurst' 'Bapty' 'MacCarter'
 'Stanwix' 'Gwillym' 'Sturgeon' 'Pendle' 'Siemantel' 'Eade' 'Stranio'
 'Rochford' 'Trayhorn' 'Viant' 'Milligan' 'Haygreen' 'Dennick'
 'Brotherhood' 'Beccero' 'Simmig' 'Mussington' 'Wells' 'Brettelle'
 'Loalday' 'Wiszniewski' 'Brannigan' 'Noirel' 'Troyes' 'Brankley' 'Pays'
 'Schlagman' 'Idale' 'Clow' 'Morison' 'Stanfield' 'Tolhurst' 'Rabidge'
 'Beckey' 'Shalcras' 'Goundry' 'Minocchi' 'Dyter' 'Pudney' 'Elegood'
 'Blay' 'Osmon' 'McReedy' 'Chaffey' 'Hencke' 'Winchcum' 'Sollas'
 'Hayselden' 'Sleany' 'Wass' 'Sudlow' 'Vernon' 'Attrey' 'Mandy' 'Lassen'
 'Heakey' 'Henryson' 'Bence' 'Whyte' 'Woolforde' 'Dunleavy' 'Toope'
 'Swetenham' 'Mullinder' 'Fendlow' 'Hansed' 'Deeming' 'Thomazin'
 'Janowski' 'Colomb' 'Devinn' 'Davitt' 'McOwan' 'Leete' 'Padden'
 'Godsmark' 'Bearns' 'Urwin' 'Porrett' 'Howell' 'Baise' 'Betteridge'
 'Clee' 'Bumpas' 'Daveren' 'Issacov' 'Pendrey' 'Zappel' 'Happel'
 'Mariette' 'Bembrigg' 'Line' 'Gerleit' 'Piecha' 'Beaston' 'Bartoszewicz'
 'Mason' 'Humby' 'Loach' 'Breawood' 'Glenton' 'Duckerin' 'Iannuzzelli'
 'Padefield' 'McKeaveney' 'Bhar' 'Strafford' 'Himsworth' 'Cazereau'
 'Bramhill' 'Pont' 'Meininking' 'Garey' 'Giffin' 'Hopkynson' 'Briand'
 'Burstow' 'Yetts' 'Alflat' 'Kingaby' 'Commuzzo' 'Andrioli' 'Brasted'
 'Jayme' 'Tomasicchio' 'Edis' 'Gosnoll' 'Wiggam' 'Spleving' 'Crum'
 "O' Mullan" 'Juarez' 'MacEvilly' 'Feige' 'Strutton' "A'field" 'Bamb'
 'Gale' 'Clissold' 'Prene' 'Willbond' 'Bointon' 'Gaskin' 'Huff' 'Evetts'
 'Cross' 'Champley' 'Clemits' 'Oller' 'Bradwell' 'Dechelette' 'Caldes'
 'Furman' 'Blenkinship' 'Agget' 'Highton' 'Scoles' 'Newport' 'Brinson'
 'Natt' 'Roberts' 'Duchant' 'Gabbitas' 'Ricciardiello' 'Cadore' 'Hast'
 'Messenger' 'Constantinou' 'Rolfe' 'Oddboy' 'Patinkin' 'Ivanchikov'
 'Pammenter' 'Abelevitz' 'Bangs' 'Cokly' 'Jereatt' 'Bourget' 'Naptin'
 'Gaskall' 'Andrassy' 'Dibdall' 'Dunstall' 'Adamou' 'Spratling' 'Ogilby'
 'Seldner' 'Pickaver' 'Broschek' 'Bisseker' 'Babcock' 'Gludor' 'Finan'
 'Tavinor' 'Budden' 'Patshull' 'Outridge' 'Bodega' 'Pilipets' 'Domnick'
 'Swanson' 'Marginson' 'Anshell' 'Shorrock' 'Carass' 'Munns' 'Dallosso'
 'Fudge' 'Ballay' 'Prewer' 'Pegg' 'Pawelski' 'Bagshawe' 'Jachtym'
 'Laundon' 'Etheridge' 'Fishburn' 'Romanetti' 'Wortley' 'Temby' 'Cubbini'
 'Duffill']
object

gender:
['Male' 'Female' 'U']
object

past_3_years_bike_related_purchases:
[86 69 10 64 34 39 23 74 50 72 94 48 60 38 32 88 61 83 65  2 11 44 26  5
 78 19 71 84 45 62 70 27 76 58 73 24 79 52 29 14 85 59 12 55 97 87 75 51
 47 31 22 54 82 98  0 36 15 53  9  8 49 93 25 91 18 30 56 21 95  1 37 57
  3 66 13 42 89 90 28 92  6  4 40 16 96 99 33 68 67  7 35 46 41 17 81 63
 20 80 43 77]
int64

DOB:
['1957-07-12T00:00:00.000000000' '1970-03-22T00:00:00.000000000'
 '1974-08-28T00:00:00.000000000' '1979-01-28T00:00:00.000000000'
 '1965-09-21T00:00:00.000000000' '1951-04-29T00:00:00.000000000'
 '1976-10-06T00:00:00.000000000' '1972-12-27T00:00:00.000000000'
 '1972-04-28T00:00:00.000000000' '1985-08-02T00:00:00.000000000'
 '1995-01-01T00:00:00.000000000' '1999-08-30T00:00:00.000000000'
 '1990-05-13T00:00:00.000000000' '1976-12-09T00:00:00.000000000'
 '1964-04-19T00:00:00.000000000' '1954-03-31T00:00:00.000000000'
 '1993-08-22T00:00:00.000000000' '1976-06-08T00:00:00.000000000'
 '1938-11-09T00:00:00.000000000' '1954-08-12T00:00:00.000000000'
 '1968-12-21T00:00:00.000000000' '1993-09-29T00:00:00.000000000'
 '1998-02-05T00:00:00.000000000' '1977-12-17T00:00:00.000000000'
 '1982-10-11T00:00:00.000000000' '1945-08-03T00:00:00.000000000'
 '1952-06-27T00:00:00.000000000' '1966-07-20T00:00:00.000000000'
 '1960-12-10T00:00:00.000000000' '1960-11-22T00:00:00.000000000'
 '1980-01-26T00:00:00.000000000' '1951-11-28T00:00:00.000000000'
 '1987-01-15T00:00:00.000000000' '1981-09-22T00:00:00.000000000'

In [152]:
((2023 - new_c.DOB.dt.year) > 100).sum()

0

In [163]:
new_c.Rank

0         1
1         1
2         1
3         4
4         4
       ...
995     996
996     997
997     997
998     997
999    1000
Name: Rank, Length: 1000, dtype: int64

## CUSTOMER DEMOGRAPHY

In [182]:
cdem.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4000 entries, 1 to 4000
Data columns (total 12 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   first_name                           4000 non-null   object
 1   last_name                            3875 non-null   object
 2   gender                               4000 non-null   object
 3   past_3_years_bike_related_purchases  4000 non-null   int64
 4   DOB                                  3913 non-null   datetime64[ns]
 5   job_title                            3494 non-null   object
 6   job_industry_category                3344 non-null   object
 7   wealth_segment                       4000 non-null   object
 8   deceased_indicator                   4000 non-null   object
 9   default                              3698 non-null   object
 10  owns_car                             4000 non-null   object
 11  tenure                               3913 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(9)
memory usage: 406.2+ KB

In [183]:
missingv(cdem)

first_name : 0
last_name : 125
gender : 0
past_3_years_bike_related_purchases : 0
DOB : 87
job_title : 506
job_industry_category : 656
wealth_segment : 0
deceased_indicator : 0
default : 302
owns_car : 0
tenure : 87

In [184]:
unique(cdem)

first_name:
['Laraine' 'Eli' 'Arlin' ... 'Stephie' 'Rusty' 'Sarene']
object

last_name:
['Medendorp' 'Bockman' 'Dearle' ... 'Halgarth' 'Woolley' 'Oldland']
object

gender:
['F' 'Male' 'Female' 'U' 'Femal' 'M']
object

past_3_years_bike_related_purchases:
[93 81 61 33 56 35  6 31 97 49 99 58 38 85 91 57 79 76 72 74 43 55 12 37
  5 62 18  3 17 44 59 40 46 64 24 63 98 51 68 22  2 48 87 26 60 47 73 21
 67 16 78 30 94 28 20 11  1 75 41 69 19 80 83 25 54  4 23 65 88 10 77  9
 82 27 53 32 34 71 36 90 95  8 39  7 42 13 45 50 14 89 84 96 70 66  0 15
 86 92 29 52]
int64

DOB:
['1953-10-12T00:00:00.000000000' '1980-12-16T00:00:00.000000000'
 '1954-01-20T00:00:00.000000000' ... '1975-12-12T00:00:00.000000000'
 '2001-07-13T00:00:00.000000000' '1991-11-05T00:00:00.000000000']
datetime64[ns]

job_title:
['Executive Secretary' 'Administrative Officer' 'Recruiting Manager' nan
 'Senior Editor' 'Media Manager I' 'Business Systems Development Analyst'
 'Senior Quality Engineer' 'Nuclear Power Engineer' 'Developer I'
 'Account Executive' 'Junior Executive' 'Media Manager IV'
 'Sales Associate' 'Professor' 'Geological Engineer' 'Project Manager'
 'Safety Technician I' 'Research Assistant I' 'Accounting Assistant III'
 'Editor' 'Research Nurse' 'Safety Technician III' 'Staff Accountant III'
 'Legal Assistant' 'Product Engineer' 'Information Systems Manager'
 'VP Quality Control' 'Social Worker' 'Senior Cost Accountant'
 'Assistant Media Planner' 'Payment Adjustment Coordinator' 'Food Chemist'
 'Accountant III' 'Director of Sales' 'Senior Financial Analyst'
 'Registered Nurse' 'Biostatistician II' 'Computer Systems Analyst II'
 'Software Test Engineer II' 'Paralegal' 'VP Sales'
 'Chief Design Engineer' 'Office Assistant III'
 'Physical Therapy Assistant' 'Help Desk Operator' 'Web Developer II'
 'Research Associate' 'Teacher' 'VP Product Management' 'Statistician II'
 'Automation Specialist IV' 'Data Coordiator' 'Software Test Engineer III'
 'Internal Auditor' 'Analyst Programmer' 'Occupational Therapist'
 'Speech Pathologist' 'Quality Control Specialist' 'Civil Engineer'
 'Software Engineer III' 'Community Outreach Specialist'
 'Safety Technician IV' 'VP Accounting' 'General Manager'
 'Nurse Practicioner' 'Automation Specialist II' 'Marketing Assistant'
 'Marketing Manager' 'Staff Scientist' 'Assistant Professor'
 'Budget/Accounting Analyst IV' 'Associate Professor' 'Graphic Designer'
 'Administrative Assistant II' 'Compensation Analyst'
 'Systems Administrator III' 'Financial Advisor' 'Chemical Engineer'
 'Web Designer I' 'Senior Developer' 'Office Assistant II' 'Recruiter'
 'Operator' 'Programmer Analyst III' 'Quality Engineer'
 'Environmental Tech' 'Analog Circuit Design manager' 'Cost Accountant'
 'Librarian' 'Structural Analysis Engineer' 'Pharmacist'
 'Assistant Manager' 'Accountant I' 'Web Designer III' 'Geologist III'
 'Software Test Engineer I' 'Structural Engineer' 'Safety Technician II'
 'Web Developer III' 'Programmer Analyst II' 'Design Engineer'
 'Statistician I' 'VP Marketing' 'Desktop Support Technician' 'Actuary'
 'Database Administrator III' 'Electrical Engineer' 'Tax Accountant'
 'Clinical Specialist' 'Database Administrator IV'
 'Systems Administrator II' 'Account Coordinator' 'Programmer III'
 'Administrative Assistant III' 'Nurse' 'Technical Writer'
 'Staff Accountant II' 'Dental Hygienist' 'Sales Representative'
 'Budget/Accounting Analyst III' 'Computer Systems Analyst IV'
 'Geologist I' 'Financial Analyst' 'Accounting Assistant II'
 'Senior Sales Associate' 'Database Administrator II' 'Engineer I'
 'Budget/Accounting Analyst I' 'Developer IV' 'Database Administrator I'
 'Environmental Specialist' 'Computer Systems Analyst I'
 'Account Representative IV' 'Statistician IV' 'Human Resources Manager'
 'GIS Technical Architect' 'Programmer IV' 'Accounting Assistant IV'
 'Software Engineer IV' 'Programmer II' 'Engineer III'
 'Software Consultant' 'Biostatistician IV' 'Help Desk Technician'
 'Automation Specialist I' 'Developer III' 'Human Resources Assistant I'
 'Geologist IV' 'Media Manager II' 'Statistician III' 'Engineer II'
 'Health Coach II' 'Developer II' 'Systems Administrator I'
 'Web Developer I' 'Software Engineer II' 'Accounting Assistant I'
 'Research Assistant II' 'Programmer Analyst IV' 'Health Coach I'
 'Accountant II' 'Automation Specialist III' 'Administrative Assistant I'
 'Health Coach IV' 'Media Manager III' 'Account Representative III'
 'Web Designer IV' 'Budget/Accounting Analyst II' 'Web Developer IV'
 'Programmer I' 'Biostatistician III' 'Software Test Engineer IV'
 'Research Assistant IV' 'Account Representative I' 'Accountant IV'
 'Biostatistician I' 'Human Resources Assistant IV'
 'Administrative Assistant IV' 'Office Assistant I'
 'Human Resources Assistant II' 'Mechanical Systems Engineer'
 'Engineer IV' 'Health Coach III' 'Office Assistant IV'
 'Software Engineer I' 'Human Resources Assistant III'
 'Staff Accountant I' 'Computer Systems Analyst III' 'Geologist II'
 'Web Designer II' 'Staff Accountant IV' 'Account Representative II'
 'Programmer Analyst I' 'Systems Administrator IV'
 'Research Assistant III']
object

job_industry_category:
['Health' 'Financial Services' 'Property' 'IT' nan 'Retail' 'Argiculture'
 'Manufacturing' 'Telecommunications' 'Entertainment']
object

wealth_segment:
['Mass Customer' 'Affluent Customer' 'High Net Worth']
object

deceased_indicator:
['N' 'Y']
object

default:
['"\'' "<script>alert('hi')</script>" datetime.datetime(2018, 2, 1, 0, 0)
 '() { _; } >_[$($())] { touch /tmp/blns.shellshock2.fail; }' 'NIL'
 'ðµ ð ð ð' 'â°â´âµâââ' '(â¯Â°â¡Â°ï¼â¯ï¸µ â»ââ»)' '0/0' 'ð©ð½'
 'ÅâÂ´Â®â\xa0Â¥Â¨ËÃ¸Ïââ' 'nil' -100 'â°â´âµ' 'ð'
 1000000000000000049861653971908893017010268485438462151574892930611988399099305815384459015356416
 'ï¾ï½¥â¿ã¾â²(ï½¡ââ¿âï½¡)â±â¿ï½¥ï¾' 'Î©âÃ§ââ«ËÂµâ¤â¥Ã·' 'ÅâÂ´â°ËÃÂ¨ËÃâââ'
 'ï¼ï¼ï¼' '../../../../../../../../../../../etc/hosts'
 '×Ö¸×Ö°×ªÖ¸×testØ§ÙØµÙØ\xadØ§Øª Ø§ÙØªÙØ\xadÙÙ' '<>?:"{}|_+' '\'\'\'\'"'
 ",./;'[]\\-=" '() { 0; }; touch /tmp/blns.shellshock1.fail;'
 'ì¬íê³¼íì ì´íì°êµ¬ì' 'testâ\xa0testâ«'
 '0ï¸â£ 1ï¸â£ 2ï¸â£ 3ï¸â£ 4ï¸â£ 5ï¸â£ 6ï¸â£ 7ï¸â£ 8ï¸â£ 9ï¸â£ ð' nan
 '!@#$%^&*()' "'"
 'Ì¦HÍÌ¬Ì¤ÌÌ¤eÍ ÍÌÌ¥ÌÌ»ÍÌwÌhÌÌ¯ÍoÌÍÌÍÌ±Ì® ÒÌºÌÌÌÍWÌ·Ì¼Ì\xadaÌºÌªÍiÌ¨ÍÍÌ\xadÍÌ¯ÌtÌ¶Ì¼Ì®sÌÌÍÍ Ì\xa0Ì«Ì\xa0BÌ»ÍÍÍÍÌ³eÌµhÌµÌ¬ÍÌ«ÍiÌÌ¹ÍÌ³Ì³Ì®ÍÌ«nÍdÌ´ÌªÌÌ ÍÌ°ÍÌ©ÍÍÍÌ²TÍ¢ÍÌ¼ÍÌªhÍÍÌ®Ì»eÌ¬ÌÍÌ Ì¤Ì¹ÌWÍÍÍÌÌÍÍaÍÍÍÌ¹Ì¼'
 '../../../../../../../../../../../etc/passwd%00' 'åè£½æ¼¢èª'
 '`ââ¬â¹âºï¬ï¬â¡Â°Â·ââÂ±' 'ãã¼ãã£ã¼ã¸è¡ããªãã' 1 -0.5
 'ZÌ®ÌÍÌ\xa0ÍÍAÌ¥ÌÌÍÌ»ÌLÌ£ÍÍÌ¯Ì¹ÌÍGÌ»OÌ\xadÌÌ®' 'ã' 100
 '1;DROP TABLE users' -1 'á' '(ï¾à²¥çà²¥ï¼ï¾ï»¿ â»ââ»' '00ËÆ$-' '1/0'
 'ï½ï½¨(Â´âï½â©' "<svg><script>0<1>alert('XSS')</script>" 'âââ'
 'ã»(ï¿£âï¿£)ã»:*:' ',ãã»:*:ã»ãâ( â» Ï â» )ãã»:*:ã»ãâ' 'â¢'
 'ç°ä¸\xadããã«ããã¦ä¸ãã' '__ï¾(,_,*)' 'Ù¡Ù¢Ù£'
 'Ø«Ù ÙÙØ³ Ø³ÙØ·Øª ÙØ¨Ø§ÙØªØ\xadØ¯ÙØ¯Ø, Ø¬Ø²ÙØ±ØªÙ Ø¨Ø§Ø³ØªØ®Ø¯Ø§Ù Ø£Ù Ø¯ÙÙ. Ø¥Ø° ÙÙØ§Ø Ø§ÙØ³ØªØ§Ø± ÙØªÙØµÙØ¨ ÙØ§Ù. Ø£ÙÙÙ Ø§ÙØ·Ø§ÙÙØ§Ø Ø¨Ø±ÙØ·Ø§ÙÙØ§-ÙØ±ÙØ³Ø§ ÙØ¯ Ø£Ø®Ø°. Ø³ÙÙÙØ§ÙØ Ø¥ØªÙØ§ÙÙØ© Ø¨ÙÙ ÙØ§, ÙØ°ÙØ± Ø'
 'ð¾ ð ð ð ð ð ð ð§' "<img src=x onerror=alert('hi') />"
 'ã½à¼¼àºÙÍàºà¼½ï¾ ã½à¼¼àºÙÍàºà¼½ï¾' 'âð¿ ðªð¿ ðð¿ ðð¿ ðð¿ ðð¿'
 'TÌÌ\xadÌºÌºoÍ Ì·iÌ²Ì¬ÍÌªÍnÌÌÍvÍÌÌÌÌ¦oÌ¶ÌÌ°Ì\xa0keÍÍÌ®ÌºÌªÌ¹Ì±Ì¤ ÌtÍÌÍÌ³Ì£Ì»ÌªhÌ¼ÍÌ²Ì¦Ì³ÌÌ²eÍÌ£Ì°Ì¦Ì¬Í Ì¢Ì¼Ì»Ì±ÌhÍÍÍÍÌÌ£Ì²iÌ¦Ì²Ì£Ì°Ì¤vÌ»ÍeÌºÌ\xadÌ³ÌªÌ°-mÌ¢iÍnÌÌºÌÌ²Ì¯Ì°dÌµÌ¼ÌÍÌ©Ì¼ÌÌ³ ÌÌ¥Ì±Ì³Ì\xadrÌÌÌeÍpÍ\xa0rÌ¼ÌÌ»Ì\xadÌeÍÌºÌ\xa0Ì£sÌ'
 'ÃÃÃÃËÃÃï£¿ÃÃÃâ' '(ï½¡â â âï½¡)' 'é¨è½æ\xa0¼'
 "ËÉnbá´lÉ ÉuÆÉÉ¯ ÇÉ¹olop ÊÇ ÇÉ¹oqÉl Ên Êunpá´pá´Éuá´ É¹odÉ¯ÇÊ poÉ¯sná´Ç op pÇs 'Êá´lÇ Æuá´Ésá´dá´pÉ É¹nÊÇÊÉÇsuoÉ 'ÊÇÉ¯É Êá´s É¹olop É¯nsdá´ É¯ÇÉ¹oË¥"
 'á\xa0'
 '×Ö¼Ö°×¨Öµ××©×Ö´××ª, ×Ö¼Ö¸×¨Ö¸× ×Ö±×Ö¹×Ö´××, ×Öµ×ª ×Ö·×©Ö¼×Ö¸×Ö·×Ö´×, ×Ö°×Öµ×ª ×Ö¸×Ö¸×¨Ö¶×¥'
 'Â¡â¢Â£Â¢âÂ§Â¶â¢ÂªÂºââ\xa0' '/dev/null; touch /tmp/blns.fail ; echo'
 "1'; DROP TABLE users--" 'ð¾ ð ð ð ð ð ð ð'
 'Ì¡ÍÍÌIÍÌÌÌ¦nÍÍÍvÌ®Ì«okÌ²Ì«ÌÍiÌÍÌ\xadÌ¹Ì\xa0ÌnÌ¡Ì»Ì®Ì£ÌºgÌ²ÍÍÌ\xadÍÌ¬Í Ì°tÍÌ¦hÌÌ²eÌ¢Ì¤ ÍÌ¬Ì²ÍfÌ´ÌÍÌ£eÍÍeÌ£Ì¥Ì©lÍÍÍiÍ\xa0ÍÍÌ¦nÍÍÌÍÌ³Ì®gÍ Ì¨oÍ¡ÍÌªfÌÌ£Ì¬ ÌÌÍÌÍÌ®cÒÍÌ«ÍÍÍÍÍhÌµÌ¤Ì£ÍÍaÍÌÌ¼ÍÍoÌ¼Ì£Ì¥sÍ¢Ì±ÍÌºÌÌ¦Ì».ÌÌ'
 'â' 'Â¸ËÃâÄ±ËÃÂ¯ËÂ¿' 'ì¸ëë°í\xa0ë¥´'
 'ÌÌºÍÌ¹Ì¯ÍTÌ±Ì¤ÍÌ¥ÍÍhÍÌ²eÍÍÌ¼ÌÌÌ¼Ì£Í ÍÌÌ±Ì\xa0ÍÍÍNÍ\xa0ÍeÌÌ±zÌÌÌÌºÍpÌ¤ÌºÌ¹ÍÌ¯ÍeÍÌ\xa0Ì»Ì\xa0rÌ¨Ì¤ÍÌºÌÍÌÌdÍÌ\xa0ÌÌ\xadÌ¬ÌiÌ¦ÍÌ©ÍÍÌ¤aÌ\xa0ÌÌ¬ÍÌnÍÍ Ì»ÌÌ°ÍÍhÌµÍiÌ³ÌvÌ¢ÍeÍÌ\xadÍ-ÒÌ\xadÌ©Ì¼ÍmÌ¤Ì\xadÌ«iÍÍÌÌ¦nÌÍdÌ£Ì ÍÌ¯Ì²ÍoÌ¨ÌÌ¯Ì°Ì²'
 0 'â©testâ©' 'â£' 'Ã¥ÃâÆÂ©ËâËÂ¬â¦Ã¦' 'ç¤¾æç§å\xad¸é¢èªå\xad¸ç\xa0ç©¶æ'
 'âªâªtestâª' 'ï»¿' 'â¤ï¸ ð ð ð ð ð ð ð ð ð ð ð ð ð ð' 'â«testâ«'
 'â¦testâ§' '\'"\'\'\'\'"' 'â¡'
 'ð\xa0ð\xa0±ð\xa0¹ð\xa0±ð\xa0±¸ð\xa0²ð\xa0³']
object

owns_car:
['Yes' 'No']
object

tenure:
[11. 16. 15.  7.  8. 13. 20.  9.  6.  1. 18. 21. 12. 19. 14.  4. 22.  5.
 17.  2.  3. 10. nan]
float64

In [196]:
cdem[((2023 - cdem.DOB.dt.year) > 110)]

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
customer_id,,,,,,,,,,,,
34,Jephthah,Bachmann,U,59,1843-12-21,Legal Assistant,IT,Affluent Customer,N,NaN,No,20.0

In [190]:
cdem.head()

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
customer_id,,,,,,,,,,,,
1,Laraine,Medendorp,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11.0
2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16.0
3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,N,2018-02-01 00:00:00,Yes,15.0
4,Talbot,NaN,Male,33,1961-10-03,NaN,IT,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,7.0
5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,NaN,Affluent Customer,N,NIL,Yes,8.0

## CUSTOMER ADRESS

In [201]:
cadress.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3999 entries, 1 to 4003
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   address             3999 non-null   object
 1   postcode            3999 non-null   int64
 2   state               3999 non-null   object
 3   country             3999 non-null   object
 4   property_valuation  3999 non-null   int64
dtypes: int64(2), object(3)
memory usage: 187.5+ KB

In [202]:
unique(cadress)

address:
['060 Morning Avenue' '6 Meadow Vale Court' '0 Holy Cross Court' ...
 '87 Crescent Oaks Alley' '8194 Lien Street' '320 Acker Drive']
object

postcode:
[2016 2153 4211 2448 3216 2210 2650 2023 3044 4557 3799 2760 2428 3331
 3058 2135 2233 2444 4413 4740 3218 4868 4116 2519 2756 2170 4005 4127
 2535 4726 4805 2212 2207 3350 3931 4018 4670 2480 3212 2322 3198 2047
 4503 2145 4350 2142 2029 2127 4280 2166 2046 2026 2765 2749 2745 3752
 2217 2230 3046 3183 2070 2213 4208 2774 4133 4213 4170 2073 3561 2330
 3977 2204 2086 2226 2075 2038 2069 2100 3133 3070 2777 2125 2766 2209
 2160 2065 2150 2168 4171 2155 2517 2096 2750 2093 3204 4300 3844 4226
 3192 2485 2097 4817 2516 3074 4508 4405 2452 2205 4132 4744 2158 3201
 4178 2112 2033 4401 3186 4017 2315 2285 2219 4509 2759 2747 2227 2025
 3191 3025 2263 2154 2119 3016 4113 2032 4352 3020 2116 3057 2099 3749
 2148 3145 2021 2333 2783 2280 4120 3638 2074 2880 2430 4560 2088 2220
 3031 2250 2261 3196 4680 3143 2063 3021 2138 4811 2085 3084 3170 2066
 4078 2222 3152 2159 4655 4220 4012 2015 2776 3011 2761 2502 2110 2566
 2506 2508 2036 2018 3666 4514 2525 4152 2200 3023 3500 2283 2102 2040
 2304 2340 3580 3355 2287 2324 2323 2320 2346 2031 2064 2176 3195 2010
 2768 2752 3802 3071 4735 3081 3205 2165 3125 4214 2030 2767 2798 2117
 4551 3064 3810 4151 2830 3030 4812 2141 3029 2173 3199 4506 2035 3340
 3182 2450 2216 3796 3197 2232 2365 4701 4210 2223 4122 2515 3437 3338
 2203 3356 3223 3032 3105 3101 2763 2089 2126 2147 2251 3127 3087 3131
 3134 2193 4055 2530 4217 4020 2179 3130 4570 3215 3165 3936 2265 3034
 2062 2162 3033 2144 3805 2642 3228 3444 2076 4124 4305 2579 2835 3337
 2536 2770 2646 4558 2211 2570 4552 3082 2360 4223 4370 3150 2549 3040
 4209 4173 2068 3806 2259 2260 4074 4215 3008 2748 2567 3015 4221 3121
 4870 2118 2050 2120 3812 3111 3012 2197 3162 2037 3141 3178 3564 3550
 3775 3004 3185 2447 3910 3621 4702 2133 3075 3911 2487 4123 2151 3156
 3126 2027 3124 2564 2049 3690 3282 2576 3108 4165 2218 2190 2337 2307
 2121 2716 3168 3076 2478 2560 2087 4505 2630 2225 3013 3136 2111 2106
 3930 2291 2305 2300 4179 2539 3207 4340 3137 3068 4580 2041 4504 2306
 4075 3975 4114 4341 4022 4820 3028 4035 2326 3429 4218 2380 3171 2565
 3850 3807 4800 2577 2199 2134 4053 2800 2048 2194 2557 2548 2262 2463
 2481 2072 3155 3095 4207 4110 2017 2769 4562 2571 3480 3551 2753 3093
 4615 3174 2192 2290 3073 4810 4121 2229 4118 2594 3750 4019 2540 2293
 2143 3630 2164 4869 2137 2354 4814 2282 2292 2171 2077 4873 4006 2754
 2152 2067 2122 3976 2000 3175 2156 2228 3187 2680 2527 2163 2336 4415
 3139 3147 3623 4356 2034 2196 2177 2234 2537 4720 3765 2486 4511 2795
 3188 3730 3060 4131 2518 3158 2477 2195 2575 3400 3037 4507 2113 2443
 3177 2641 4212 3241 3428 4227 4034 2558 2460 3173 2289 4500 4825 4161
 3757 2871 2146 4380 3024 3934 3109 2136 2484 3225 4068 2214 3809 2454
 4556 4573 2131 3184 2619 3138 3441 2101 4510 2647 2731 3284 2573 2206
 4815 2526 4502 2710 2090 3038 3142 3442 4064 2529 3039 2061 3644 2104
 2044 3043 2873 2541 2321 2079 3072 2007 2620 2231 2580 2020 2852 3677
 4818 4519 4806 4610 4512 4306 4304 4301 4205 4051 4130 4115 4164 4128
 3940 3939 3840 3804 2582 3747 3620 3151 3380 3280 3224 3222 3226 3190
 3169 3163 3161 3791 4119 3140 3818 3106 3099 3754 3756 3061 3048 3036
 3107 3022 3049 2870 2762 2794 2773 2640 2439 2528 2440 2325 2161 2848
 4878 2775 2224 3219 2441 4877 3264 2681 3018 2043 2107 4567 4011 2221
 2028 3941 3146 3585 4105 2094 2284 3808 3149 3114 3352 3129 4154 2114
 4721 2011 4157 4799 2095 3103 4224 4344 2009 3144 3181 2665 2474 3166
 2820 4059 4160 3189 4030 2042 4032 4103 2868 2358 2449 2299 4014 3056
 2281 4007 2318 3821 4109 4216 2470 2563 2264 2445 4060 3214 4077 2327
 4104 3172 2505 2115 2469 2705 3088 3966 3912 2446 2810 4061 3083 3915
 4153 2267 3458 4421 3505 3006 4037 3918 2335 3079 2400 3148 2092 2714
 3555 2008 3631 4228 4101 2022 4568 3115 4343 3116 2208 4125 4070 3194
 2533 2758 4159 4879 2500 2298 2178 3240 2671 4455 4650 3160 3250 3342
 3523 2350 2785 3995 3351 3000 2462 3041 3260 2534 4565 3618 2780 2167
 3279 4106 4700 2799 4564 4860 3922 2256 4031 2779 4660 4073 3067 2843
 3027 3066 2572 2128 4054 4069 2343 3377 3065 2295 4270 2316 3179 3933
 4883 2081 2471 3053 4285 2546 4275 3132 3042 3085 2071 2821 4390 3793
 3128 2869 3616 4750 3059 3153 2130 3213 3862 3610 4102 2060 3786 2019
 2191 2713 3094 3122 2850 4272 3051 3634 3803 4515 2700 3123 2294 3978
 3305 2198 2778 4730 4155 4000 4225 3556 4575 4715 2429 4555 2132 2045
 2024 4076 3321 3193 2390 2806 2257 4172 3078 3104 3860 2658 3052 4163
 2590 2550 2877 4311 3089]
int64

state:
['New South Wales' 'QLD' 'VIC' 'NSW' 'Victoria']
object

country:
['Australia']
object

property_valuation:
[10  9  4 12  8  6  7  3  5 11  1  2]
int64